{% extends 'base.html.twig' %}

{% block title %} Vous n'avez pas accès à cette ressource. {% endblock %}

{% block body %}

    <div class="container">

        <h1> Vous n'avez pas les droits requis. </h1>

        <div class="alert alert-danger">
            <p> Vous ne pouvez accèder à cette ressource</p>
        </div>

        <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>

    </div>

{% endblock body %}